[Desktop Entry]
Name=LightDM command line Greeter
Comment=This runs the command line greeter, it should only be run from LightDM
Exec=lightdm-cmd-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
