[Desktop Entry]
Name=LightDM command line Greeter
Comment=This runs the command line greeter, it should only be run from LightDM
Exec=python3 /var/tmp/cmd-greeter/cmd-greeter.py
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
